/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
  font-size: 2em;
  /*color: #333;*/
  padding: 5px;
}

* {
  box-sizing: border-box;
}

#landing {
  height: 100vh;
  width: 100%;
  background: url("img/welcome.jpg");
  background-position: center;
  background-size: cover;
  display: block;
}

.my-nav {
  background: rgba(34, 34, 34, 0.75);
}

.spacer {
  height: 58vh;
}

.info-card {
  display: inline-block;
  margin: 5vmin;
  padding: 2vmin;
  background: rgba(204, 204, 204, 0.6);
  text-transform: uppercase;
}

.my-info{
  border: 1px solid #333;
  padding: 2vmin;
}

.my-info > h1 {
  font-size: 5vmin;
  font-weight: bolder;
}

.my-info > h3 {
  font-size: 2.5vmin;
}

address {
  margin: 0;
  clear: both;
}

.contact-info {
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.ind-contact {
  text-decoration: none !important;
  color: #333;
}

.section-title {
  width: 250px;
  font-weight: bolder;
  text-transform: uppercase;
  border: 1px solid #999;
  display: inline-block;
  padding: 10px;
  margin-top: 8vh;
}

#about {
  background-color: #333;
  color: #999;
  padding-bottom: 5vh;
}

.about-me{
  max-width: 600px;
  margin: 0 auto;
}

.tools {
  display: flex;
  justify-content: space-around;
}

.tool {
  max-height: 100px;
}

.my-pics {
  max-height: 18vh;
  border: 2px solid #999;
}

.img-cat {
  max-height: 12vh;
  margin-bottom: 20px;
}

.lui {
  float: left;
  margin-right: 15px;
}

.leo {
  float: right;
  margin-left: 15px;
}

.img-me {
  /*display: inline-block;*/
  float: left;
  margin-right: 15px;
}

.center-pics {
  display: block;
  text-align: center;
  margin: auto;
}

#work {
  background-color: #101010;
  color: #999;
}

.project-title {
  margin: 0;
  padding: 0.5em 0 2em;
}

.tech {
  background-color: #333;
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
  margin: 4px 2px;
}

footer {
  background: #222;
}

a > li.inverse {
  color: #999;
}

@media(min-width:768px) {
    .navbar-custom {
        font-size: 125%;
        padding: 0;
        -webkit-transition: background .5s, padding .5s;
        -moz-transition: background .5s, padding .5s;
        transition: background .5s, padding .5s;
    }

    .navbar-custom.large {
        padding: 16px 0;
        text-shadow: 2px 2px 4px #000;
        background: transparent;
        border-bottom: 0;
        color: #000 !important;
    }
}
